body {
    background-color: #4a536b;
    overflow: hidden;
    overflow: auto;
    color: #ff9a8d;
}
form {
    border-radius: 60px;
    background: linear-gradient(145deg, #434b60, #4f5972);
    box-shadow:  31px 31px 63px #2c3240,-31px -31px 63px #687496;
    margin: auto;
    width: 500px;
    height: 500px;
}
h1 {
    width: fit-content;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    text-shadow: 4px 4px 3px black;
}
form .separation {
    width: 450px;
    height: 2px;
    margin: auto;
    background-color: #747cdf;
}
a {
    text-decoration: none;
    text-shadow: 4px 4px 3px black;
}
.names {
    padding-right: 0px;
    width: fit-content;
    padding: 20px;
    margin: auto;
}
.mail {
    width: fit-content;
    margin-left: 39px;
}
.message {
    width: fit-content;
    margin: auto;
    padding-bottom: 10px;
}
.subject {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
.foot {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    margin: auto;
    margin-top: 20px;
}
.btn {
    color: black;
}
#area {
    resize: none;
}
.lien {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}
.lien a {
    color: #ff9a8d;
}
.lien:hover {
    border: outset;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    box-shadow: 4px 4px 3px black;
}