
body{
    background-color: #4a536b;
    overflow: auto;
    color: #f1c70b;
}
.index {
    margin: 0;
}
a {
    text-decoration: none;
    color: white;
    text-shadow: 4px 4px 3px black;
}








/* Formulaire */ 

form {
    border-radius: 60px;
    background: linear-gradient(145deg, #434b60, #4f5972);
    box-shadow:  31px 31px 63px #2c3240,-31px -31px 63px #687496;
    margin: auto;
    width: 500px;
    height: 500px;
}

.title_form {
    width: fit-content;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    text-shadow: 4px 4px 3px black;
}
form .separation {
    width: 450px;
    height: 2px;
    margin: auto;
    background-color: #747cdf;
}
.names {
    padding-right: 0px;
    width: fit-content;
    padding: 20px;
    margin: auto;
}
.message {
    width: fit-content;
    margin: auto;
    padding-bottom: 10px;
}
.subject {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
.foot {
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin: auto;
    margin-top: 20px;
}
.btn {
    color: black;
}
#area {
    resize: none;
}
.lien {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}
.lien a {
    color: #f1c70b;
}
.lien:hover {
    border: outset;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 4px 4px 3px black;
}






/*Footer*/

footer {
    width: 100%;
    height: 1100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    bottom: 0;
    backdrop-filter: blur(10px);
    background : rgba(0, 0, 0, 0.4);
}

.liens_footer {
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    text-decoration: none;
}
.mail, .cv{
    border: inset;
    border-radius: 20px;
    padding: 6px;
    color: #f1c70b;
}
.mail:hover, .cv:hover {
    border-radius: 59px;
    background: #4a536b;
    padding: 6px;
    color: white;
}
.rs {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 40px;
}
.cv {
    display: flex;
    width: fit-content;
    justify-content: space-between;
}
.coords_footer {
    height: 50px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.back_top {
    position: absolute;
    right: 0;
    margin-right: 40px;
}










/* Section de l'image */

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/ordi.jpg);
    height: 800px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}
.visit {
    border:inset #f1c70b;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 300PX;
    width: 270px;
    height: 50px;
    align-items: center;
    font-size: larger;
    border-radius: 30px;
}
.visit:hover {
    border-radius: 65px;
    background: #4a536b;
    box-shadow: inset -12px 12px 30px #968123,
                inset 12px -12px 30px #dcbd33;
}
#Texte_homePage {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.text_image {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    margin-bottom: 50px;
    font-size: 50px;
}
.hello {
    margin-bottom: 1px;
    height: fit-content;
}
.i_am {
    
    margin-bottom: 1px;
    margin-top: 8px;
    height: fit-content;
}
.activity {
    height: fit-content;
    margin-top: 8px;
}

strong {
    color: #f1c70b;
}










/* Nav */

#nav_bar {
    padding-left: 0px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    height: 50px;
    width: 600px;
    color: white;
    align-items: center;
}
.nav_symbole {
    color: #f1c70b;
}
.nav:hover {
    color: #f1c70b;
    font-style: italic;
}
.nav {
    font-size: 1.3em;
}







/* Mastered Software section */

#about {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    color: white;
}
.computer_with_title {
    width: 600px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
}
.computer_with_title p {
    padding-left: 10px;
}
.computer_with_title h1 {
    color: #f1c70b;
    padding-top: 50px;
    padding-left: 50px;
    font-size: 3em;
    font-family: Garamond, Arial, Helvetica, sans-serif;
}
.computer_with_title img {
    width: 800px;
    height: 650px;
    padding-bottom: 50px;
}
.titles {
    color: #f1c70b;
    font-size: xx-large;
}
.vs_code_ico, .unreal_ico, .premiere_ico {
    height: 100px;
    width: 100px;
    float: left;
    padding-right: 50px;
}
.unreal_ico {
    height: 110px;
}
.name_software {
    color: #f1c70b;
}
.text_computer {
    height: 500px;
    width: 50%;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 250px;
}
.text_computer p {
    width: 100%;
    font-size: xx-large;
}
