* {
    box-sizing: border-box;
}

body{
    background-color: #4a536b;
    overflow: auto;
    color: #b99f2b;
}
a {
    text-decoration: none;
    color: white;
    text-shadow: 4px 4px 3px black;
}
footer {
    width: 100%;
    height: 1100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    bottom: 0;
    backdrop-filter: blur(10px);
    background : rgba(0, 0, 0, 0.4);
}
form {
    border-radius: 60px;
    background: linear-gradient(145deg, #434b60, #4f5972);
    box-shadow:  31px 31px 63px #2c3240,-31px -31px 63px #687496;
    margin: auto;
    width: 500px;
    height: 500px;
}

#me_pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
#home {
    text-decoration: none;
    color:white;
}
#home:hover {
    color: #b99f2b;
    font-style: italic;
}
#nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    height: 25px;
    width: 75%;
    color: white;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #4a536b;
}
.hello {
    font-size: 20px;
    padding-right: 30px;
    font-family:Helvetica, Arial;
}
.name_img {
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/ordi.jpg);
    height: 500px;
    width: 75%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #b99f2b;
    letter-spacing: 3px;
    word-spacing: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.presentation:nth-child(2) {
    flex: 2;
    flex-direction: column;
}
#nav:hover {
    color: #b99f2b;
    font-style: italic;
}
.presentation {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.liens {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #aed6dc;
    text-decoration: none;
}
.coords, .cv{
    border: solid;
    border-radius: 20px;
    padding: 6px;
    color: #aed6dc;
}
.coords:hover, .cv:hover {
    border-radius: 20px;
    padding: 6px;
    background-color: #aed6dc;
    color: black;
}
.liens:hover {
    color: black;
}
.name_right {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #b99f2b;
}
.what_I_do {
    width: fit-content;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #b99f2b;
}
.mmi {
    margin-bottom: 30px;
    width: 100px;
    margin-left: 5px;
}
.rs {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 40px;
}
.cv {
    display: flex;
    width: 150px;
    justify-content: space-between;
}
.ico {
    width: 25px;
    height: 20px;
    color: #aed6dc;
}
.coords_footer {
    height: 50px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.titles {
    color: #b99f2b;
    font-size: xx-large;
}

/* Formulaire */ 

.title_form {
    width: fit-content;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    text-shadow: 4px 4px 3px black;
}
form .separation {
    width: 450px;
    height: 2px;
    margin: auto;
    background-color: #747cdf;
}
.names {
    padding-right: 0px;
    width: fit-content;
    padding: 20px;
    margin: auto;
}
.message {
    width: fit-content;
    margin: auto;
    padding-bottom: 10px;
}
.subject {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
.foot {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    margin: auto;
    margin-top: 20px;
}
.btn {
    color: black;
}
#area {
    resize: none;
}
.lien {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}
.lien a {
    color: #b99f2b;
}
.lien:hover {
    border: outset;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    box-shadow: 4px 4px 3px black;
}
.index {
    margin: 0;
}
.back_top {
    position: absolute;
    right: 0;
    margin-right: 40px;
}